section.collection_banner span {
    color: var(--Button1, #0f6);
    font-family: 'Poppins'
    , sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 125% */
  }


  section.collection_banner .content {
    max-width: 443px;
  }

  section.collection_banner .time > div {
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    background-color: white;
    border-radius: 100px;
  }

  section.collection_banner .time > div span.value {
    color: var(--Text2, #000);
    font-family: 'Poppins'
    , sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 125% */
  }

  section.collection_banner .time > div span.label {
    color: var(--Text2, #000);
    font-family: 'Poppins'
    , sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 163.636% */
  }

  section.collection_banner .time {
    display: flex;
    flex-wrap: wrap;
    gap: 0 24px;
    margin-bottom: 40px;
  }

  section.collection_banner .main_content {
    padding: 70px 50px;
    background-color: black;
  }

  section.collection_banner .content > span {
    margin-bottom: 32px;
    display: block;
  }

  section.collection_banner .main_content img {
    max-height: 400px;
    object-position: center;
    object-fit: cover;
  }

  @media(max-width: 991px) {
    section.collection_banner .content {
      max-width: 100%;
    }
  }
  @media(max-width: 767px) {
    section.collection_banner .main_content {
      padding: 40px 20px;
    }
  }